* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
  }

  .foto-perfil {
    width: 200px;
    height: auto;
  }

  .container-foto {
    text-align: center;
  }

body {
  font-size: 16px;
  color: #333333;
  text-align: left;
}
h1 {
font-size: 36px;
color: #1a1a1a;
text-align: center;
}
h2 {
font-size: 28px;
color: #2c3e50;
text-align: center;
}
h3 {
font-size: 24px;
color: #34495e;
text-align: left;
}
h4 {
font-size: 20px;
color: #555555;
}
h5 {
font-size: 18px;
color: #666666;
}

p {
font-size: 14px;
color: #444444;
text-align: justify;
}
div {
text-align: left;
}
span {
color: #0066cc;
font-size: 14px;
}

.destaque {
  color: #e74c3c;
font-size: 16px;
}
.link-social {
  color: #e74c3c;
font-size: 16px;
}
.secao {
  text-align: center;
}

.tecnologia {
color: #8e44ad;
font-size: 14px;
}
